.containe {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.top-left-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #0b2545;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.top-left-button:hover {
  background-color: #133e7c;
  transform: translateX(2px);
}

.image-container {
    flex: 1;
    padding-right: 20px;
}
.image-container img {
    max-width: 130%;
    border-radius: 8px;
}
.text-container {
    flex: 1;
    padding-left: 5px;
    font-size: 18px;
    line-height: 1.6;
}
h1 {
    text-align: center;
    color: #2980b9;
    margin-bottom: 20px;
}
.highlight {
    color: #2E88C5;
}
.upload-container {
    text-align: center;
    margin-top: 20px;
}
/* تنسيق الأزرار */
.button {
    padding: 10px 18px;
    background-color: #2980b9;
    color: white;  /* تحديد أن النص داخل الزر باللون الأبيض */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    text-decoration: none; /* إزالة التسطير */
}
.button:hover {
    background-color: #2E88C5;
}
.button:active {
    background-color: #2E88C5;
}

/* إزالة التسطير من الروابط */
a {
    text-decoration: none; /* إزالة التسطير */
    color: inherit; /* تأكيد أن النص سيكون نفس لون النص العادي */
}

input[type="file"] {
    padding: 12px;
    background-color: #2980b9;
    color: white; /* لون النص داخل زر التحميل */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}